.home {
  text-align: center;
  padding: 50px 20px;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1601758228041-f3b2795255f1?ixlib=rb-4.0.3&auto=format&fit=crop&w=1000&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 100px 20px;
  border-radius: 10px;
  margin: 20px 0;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 1;
}

.hero h1, .hero p, .hero a {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #800000;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto;
  width: 80px;
  text-align: center;
}

.btn-primary:hover {
  background-color: #600000;
}
